<html>
<head>
	<title>Meta Configuration Console</title>
	<link rel="stylesheet" type="text/css" href="/public/main.css" />
</head>
<body ng-app="metaConfigConsole" ng-controller="HomeController">

	<div class="row">

		<div class="small-6 columns">

			<h2>Node.js</h2>

			<a href="" class="button small" ng-click="runNodejsTests()">Run tests</a>

			<section>
				<h3>Test 1: <small>Count of all advertisers</small></h3>

				<p>
					<span class="label">Advertiser count</span>
					{{ nodejs.tests[0].value }}
				</p>
				<p>
					<span class="label">Test duration (s)</span>
					{{ nodejs.tests[0].duration | number: 2 }}
				</p>
			</section>

			<section>
				<h3>Test 2: <small>Advertisers with 'Florida' inventories</small></h3>

				<table>
					<thead>
						<th>Id</th>
						<th>Name</th>
					</thead>
					<tbody>
						<tr ng-repeat="advertiser in nodejs.tests[1].value">
							<td>{{ advertiser.id }}</td>
							<td>{{ advertiser.name }}</td>
						</tr>
					</tbody>
				</table>

				<p>
					<span class="label">Test duration (s)</span>
					{{ nodejs.tests[1].duration | number: 2 }}
				</p>
			</section>

			<section>
				<h3>Test 3: <small>Every 50th advertiser with brand names</small></h3>

				<table>
					<thead>
						<th>Advertiser</th>
						<th>Brand</th>
					</thead>
					<tbody>
						<tr ng-repeat="advertiser in nodejs.tests[2].value">
							<td>{{ advertiser.advertiser }}</td>
							<td>{{ advertiser.brand }}</td>
						</tr>
					</tbody>
				</table>

				<p>
					<span class="label">Test duration (s)</span>
					{{ nodejs.tests[2].duration | number: 2 }}
				</p>
			</section>

			<section>
				<h3>Overall</h3>
				<p>
					<span class="label">Overall duration (s)</span>
					{{ nodejs.duration.duration | number: 2 }}
				</p>
			</section>

		</div>

		<div class="small-6 columns">

			<h2>C#</h2>

			<a href="" class="button small">Run tests</a>

		</div>

	</div>

	<script src="/public/main.js"></script>
	<!-- inject:js -->
  	<script src="/app/app.module.js"></script>
  	<script src="/app/components/home/advertiserFactory.js"></script>
  	<script src="/app/components/home/homeController.js"></script>
  	<!-- endinject -->
</body>
</html>
