body {
	background: #444;
	padding-top: 1em;
}

h3 {
	border-top: solid 1px #ddd;
	padding-top: 0.8em;
}

table {
	width: 100%;

	th {
		width: 50%;
	}
}

.columns {
	min-height: 95%;
	background: #fff;
	border-left: solid 1px #ccc;

	&:last-child {
		border-right: solid 1px #ccc;
	}
}

.button.small {
	padding: 0.5em 1em;
}

.label {
	width: 40%;
	padding: 0.8em 1em;
	text-align: left;
}
