<div class="small-6 columns">

  <h2>{{ api.title }}</h2>
  <a href="" class="button small" ng-click="api.runTestsNTimes()">Run tests</a>

  <section ng-show="api.duration.length > 0">
    <h3>Overall</h3>

    <table>
      <thead>
        <th>Test Iteration</th>
        <th>Duration</th>
      </thead>
      <tbody>
        <tr ng-repeat="duration in api.duration">
          <td>{{ $index + 1 }}</td>
          <td>{{ duration.duration | number: 2 }}s</td>
        </tr>
      </tbody>
    </table>

  </section>

  <section ng-show="api.tests[0].value">
    <h3>Test 1: <small>Count of all advertisers</small></h3>

    <p>
      <span class="label">Advertiser count</span>
      {{ api.tests[0].value }}
    </p>
    <p>
      <span class="label">Test duration</span>
      {{ api.tests[0].duration | number: 2 }}s
    </p>
  </section>

  <section ng-show="api.tests[1].value">
    <h3>Test 2: <small>Advertisers with 'Florida' inventories</small></h3>

    <table>
      <thead>
        <th>Id</th>
        <th>Name</th>
      </thead>
      <tbody>
        <tr ng-repeat="advertiser in api.tests[1].value">
          <td>{{ advertiser.id }}</td>
          <td>{{ advertiser.name }}</td>
        </tr>
      </tbody>
    </table>

    <p>
      <span class="label">Test duration</span>
      {{ api.tests[1].duration | number: 2 }}s
    </p>
  </section>

  <section ng-show="api.tests[2].value">
    <h3>Test 3: <small>Every 50th advertiser with brand names</small></h3>

    <table>
      <thead>
        <th>Advertiser</th>
        <th>Brand</th>
      </thead>
      <tbody>
        <tr ng-repeat="advertiser in api.tests[2].value">
          <td>{{ advertiser.advertiser }}</td>
          <td>{{ advertiser.brand }}</td>
        </tr>
      </tbody>
    </table>

    <p>
      <span class="label">Test duration</span>
      {{ api.tests[2].duration | number: 2 }}s
    </p>
  </section>

</div>
